.bg-slider{
    height: 1200px;
    background-image: url(../images/fitness\ 2.jpg                                         );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-logo{
    border-radius: 100%;
}